appdirs==1.4.3
attrs==19.1.0
black==19.3b0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
docutils==0.14
entrypoints==0.3
flake8==3.7.7
idna==2.8
jsonpickle==1.1
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
kiwisolver==1.0.1
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.0
pypiwin32==223
pywin32==224
requests==2.21.0
toml==0.10.0
urllib3==1.24.3
wincertstore==0.2
